* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: #17ebb1;
  background-image: linear-gradient(to bottom, #dc416d, #BFD8F2);
  color: #17bebb;
}

/* ======================
   Wrapper
   ====================== */

#wrapper {
  background-color: #ebaa1e;
}

/* ======================
   Header
   ====================== */

header {
  background-color: #ebaa1e;
  color: #004e64;
}

h1 {
  margin: 0;
  padding: 0.75em;
  letter-spacing: 0.2em;
  font-family: Georgia, "Times New Roman", serif;
}

header a {
  text-decoration: none;
  color: #fdfffc;
}

/* ======================
   Navigation
   ====================== */

nav {
  text-align: center;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  border-bottom: 1px solid #dc416d;
}

nav a {
  display: block;
  padding: 0.9em;
  text-decoration: none;
}

nav a:link {
  color: #17bebb;
}

nav a:visited {
  color: #17ebb1;
}

nav a:hover {
  background-color: #dc416d;
  color: #ebaa1e;
}

/* ======================
   Main Content
   ====================== */

main {
  background-color: #004e64;
  padding: 1.5em;
  line-height: 1.6;
}

main ul {
  list-style-image: url(marker.gif);
}

h2 {
  color: #17bebb;
  text-shadow: 1px 1px 2px #004e64;
  font-family: Georgia, "Times New Roman", serif;
}

h3 {
  color: #dc416d;
  font-family: Georgia, "Times New Roman", serif;
}

/* ======================
   Footer
   ====================== */

footer {
  background-color: #fdfffc;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  padding: 1em;
  font-family: Georgia, "Times New Roman", serif;
}

/* ======================
   Utility Classes
   ====================== */

.resort {
  font-weight: bold;
  color: #ebaa1e;
}

#contact {
  font-size: 0.9em;
}